.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
bin
target
*.glob
.*.glob
.classpath
.project
.settings
.idea/
*.iml
*.ipr
*.iws
dependency-reduced-pom.xml
/target/
*.class
.project
.classpath
/.settings/

/lib/
.settings
.git
